*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;

}
header{
	width: 100%;
    height: 60px;
    position: fixed;
    padding: 15px 15px 15px 15px;
    background-color: white;
    z-index: 100;
}
#header_content{
	margin: 15px 15px 0 15px;
	height: 60px;
	position: relative;
}
#marca{
	cursor: pointer;
}
#header_lista{
	position: absolute;
	list-style: none;
	display: inline-flex;
}
#header_lista>li{
	text-align: center;
	position: relative;
	font-size: 17pt;
	font-weight: bold;
	float: left;
	display: inline-block;
	border-radius: 8px 8px 8px 8px;
	margin-top: 10px;
}
#header_lista>li>div{
	padding: 10px;
}
#barra_pesquisa{
	margin-left: 20px;
	height: 40px;
	width: 550px;
}
#texto_pesquisa, #botao_pesquisa{
	border-radius: 8px 8px 8px 8px;
	position: relative;
	display: inline-block;
	float: left;
	height: 50px;
	border: none;
	outline: none;
	background-color: #dcdcdc;
}
#texto_pesquisa{
	width: 505px;
}
#botao_pesquisa{
	width: 40px;
	margin-left: 5px;
	cursor: pointer;
}
#botao_explore{
	cursor: pointer;
	width: 150px;
	background-color: #8ede50;
	margin-left: 20px;
}
#botao_login{
	cursor: pointer;
	width: 150px;
	background-color: #ed2687;
	margin-left: 20px;
}
#botao_cadastre{
	cursor: pointer;
	width: 200px;
	background-color: #f5ba00;
	margin-left: 20px;
}
#content{
	width: 100%;
	height: 2000px;
}