 *{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

header{
	width: 96vw;
	height: 13vh;
	padding-top: 2vh;
	padding-left: 2vh;
	display: inline-block;
	margin-left: 1vw;
	margin-right: 1vw;
	position: fixed;
	top: 0;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.25);
    z-index: 100;
    transition: height .3s;
}
.retraido{
	height: 8vh
}
	.retraido>div>img{
		width: 100px;
	}
#header_content{
	height: 60px;
	position: relative;
	transition: height .3s;
}
#marca{
	cursor: pointer;
	transition: width .3s;
}
#header_lista{
	position: absolute;
	list-style: none;
	display: inline-flex;
}
.li{
	text-align: center;
	position: relative;
	font-size: 17pt;
	font-weight: bold;
	color: white;
	display: inline-block;
	border-radius: 10px 10px 10px 10px;
	transition: height .3s;
	transition: font-size .3s;
}
#textobotao1, #textobotao2, #textobotao3{
	margin-top: 15px;
	transition: margin-top .3s;
}

#barra_pesquisa{
	margin-left: 20px;
	width: 44vw;
	transition: width 0.5s;
}
#texto_pesquisa, #botao_pesquisa{
	position: relative;
	float: left;
	height: 60px;
	border: none;
	outline: none;
	background-color: #dcdcdc;
	transition: height .5s;
	transition: width 0.5s;
}
#texto_pesquisa{
	width: 37vw;
	text-align: left;
	padding-left: 10px;
	border-radius: 10px 00px 00px  10px ;
}
#botao_pesquisa{
	padding-top: 2px;
	border-radius: 0px 10px 10px  0px ;
	width: 4vw;
	cursor: pointer;
}
#botao_explore{
	cursor: pointer;
	width: 10vw;
	background-color: #8ede50;
	margin-left: 20px;
	transition: height .3s;
}
	.dropdown-content{
		font-size: 15px;
		position: absolute;
		text-align: left;
		margin-top: 14px;
		width: 350px;
		padding: 16px;
    	visibility: hidden;
    	overflow: hidden;
    	max-height: 0;
    	z-index: 10;
    	list-style: none;
    	background-color: #8ede50;
    	border-radius: 0px 10px 10px  10px ;   	
	}
		#botao_explore:hover{
			border-radius: 10px 10px 0px  0px ;
			z-index: 99;
		}
		#botao_explore:hover .dropdown-content{
			visibility: visible;
    		max-height: 100vh;
    		transition: max-height .5s ease-in-out;
		}
		.dropdown-content > li{
			display: block;
			padding: 10px;
			text-decoration: none;
			color: black;
			border-radius: 10px 10px 10px  10px ;
			cursor: pointer;
		}
		.dropdown-content> li:hover{
    		background-color: #f5ba00;
		}
#botao_login{
	cursor: pointer;
	width: 10vw;
	background-color: #ed2687;
	transition: height .3s;
}
#botao_cadastre{
	cursor: pointer;
	width: 12vw;
	background-color: #f5ba00;
	margin-left: 20px;
	white-space: nowrap;
	transition: height .3s;
}
#content{
	width: 100%;
	height: 300vh;
	margin-top: 90px;
}
.slider{
	background-color: white;
	z-index: 11;
	box-shadow: 0px 0px 26px 4px rgba(0,0,0,0.25);
	margin-top: 115px;
	width: 97vw;
	margin-left: 1vw;
	height: 500px;
	position: relative;
	text-align:center;
	overflow: hidden;
	border-radius: 10px;
}
.slider img{
	display: none;	
}
@keyframes surgir{
	from {
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.slider img.active{
	margin-top: 10px;
	display: inline-block;
	animation-name: surgir;
	animation-duration: .5s;
}
.arrow{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);

	cursor: pointer;
	user-select: none;
}
	#left{
		left: 15px;
		background-image: url('arrow_left.svg');
		width: 30px;
		height: 30px;
		background-size: cover;
	}
	#right{
		right: 15px;
		background-image: url('arrow_right.svg');
		width: 30px;
		height: 30px;
		background-size: cover;
	}
	.slider .overlay{
		padding: 15px 0px;
		width: 100%;
		position: absolute;
		margin-top: 20px;
		bottom: 0;
		text-align: center;
	}
	.slider .overlay .dot{
		width: 20px;
		height: 20px;
		background-color: #dcdcdc;
		border-radius: 50%;
		display: inline-block;
		margin: 0px 6px; 
		cursor: pointer;
	}
	.slider .overlay .dot.active{
		background-color: #8ede50;
	}
.categorias{
	position: relative;
	background-color: white;
	z-index: 11;
	box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.25);
	border-radius: 10px;
	width: 97vw;
	margin-left: 1vw;
	height: 400px;
	margin-top: 20px;
	position: relative;
	text-align:center;
}
	.categorias>h1{
		float: left;
		margin: 40px 0 40px 40px;
		color: #272525;
	}
	.categorias>h2{
		float: left;
		margin: 0px 0 40px 40px;
		color: #272525;
	}
	#linha_expande{
		left: 3vw;
		top: 100px;
		height: .5vh;
		width: 10vw;
		transition: width 1s;
		background-color: #f5ba00;
		position: absolute;
	}
	.table1{
		position: absolute;
		left: 8%;
		transform: translate(-8%,0);
		width: 60vw;
		margin-top: 200px;
	}
		.table1 td{
			cursor: pointer;
			color: #272525;
			padding: 10px;
			width: 20vw;
			height: 50px;
			font-size: 18pt;
			font-weight: bold;
		}
		.rosa{
			background-color: #e8a3cc;
			transition: background-color, color .3s;
		}
			.rosa:hover{
				background-color: #dd4e9c;
				color: white;
			}
		.laranja{
			background-color: #f6e19b;
			transition: background-color, color .3s;
		}
			.laranja:hover{
				background-color: #f0c644;
				color: white;
			}
	#cards_projetos{
		position: relative;
		background-color: white;
		z-index: 11;
		box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.25);
		border-radius: 10px;
		width: 97vw;
		margin-left: 1vw;
		height: 400px;
		margin-top: 20px;
		position: relative;
		text-align:center;
	}
		.cards{
			margin-right: 20px;
			margin-left: 20px;
			margin-top: 40px;
			padding: 20px;
			width: 15vw;
			height: 300px;
			display: inline-block;
			border-radius: 10px;
			box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.25);
		}